@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* ----------------------------------------------- MAIN CONTAINER ----------------------------------------------- */
.header-menu {
  position: relative;
  background-color: #246800;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

.header-menu__container {
  max-width: 1170px;
  display: grid;
  grid-template-columns: auto min-content;
}

.header-menu__wrap a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}

.header-menu__wrap ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 0));
  grid-column-gap: 60px;
  margin: 0;
  padding: 0;
}

.header-menu__wrap li:hover {
  background-color: #457e26;
}

.header-menu__wrap li {
  list-style: none;
  padding: 16px 0 16px;
}

.header-menu__phone a {
  white-space: nowrap;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 13px 0 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.header-info {
  position: relative;
  background-color: rgba(244, 244, 244, 0.7);
  height: 80px;
}

.header-info .container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo-container {
  border-color: burlywood;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.logo-container p {
  margin-right: 25px;
}

.svg {
  height: 40px;
  padding: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 186px;
  height: 40px;
  border-radius: 3px;
  text-transform: uppercase;
}

.logo-square {
  height: 40px;
  width: 40px;
  background-color: rgba(58, 169, 0, 1);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  width: 146px;
  padding-left: 10px;
  text-shadow: 2px 2px 3px #919191;
  font-weight: bold;
}

.contact-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-container .sign {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.ask-call-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ask-call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 46px;
  background-color: rgba(254, 185, 0, 1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
}

.ask-call-container a {
  text-decoration: none;
}
/* ----------------------------------------------- MAIN CONTAINER ----------------------------------------------- */

.baner {
  position: relative;
  max-width: 1170px;
  height: 290px;
  margin: 20px auto 0;
  background-image: url("./img/logo_main.png");
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baner-header_1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 50px;
  color: rgb(255, 255, 255, 1);
  font-weight: 900;
  line-height: 60px;
  margin-top: 45px;
}

.baner-header_2 {
  color: rgb(255, 255, 255, 1);
  font-size: 30px;
  margin-top: 2px;
}

.conditions-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
}

.conditions-menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.top-sign {
  margin: 12px 0 0 0;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
}

.bottom-sign {
  margin: 10px 0 0 0;
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-weight: 400;
}

.content-container {
  position: relative;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}

/* --------------------------sidebar start--------------------------- */
.sidebar-menu-container {
  margin-bottom: 32pxpx;
}

.sidebar {
  width: 33%;
  margin-right: 30px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar-menu-header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #3aa900;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
  line-height: 18px;
  opacity: 1;
}

.sidebar-menu-header-top-coreners {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sidebar-menu-header-opacity {
  opacity: 0.5;
}

.item-sidebar {
  font-size: 15px;
  line-height: 18px;
  padding: 18px 30px 17px 30px;
  display: block;
  align-items: center;
  color: #000000;
  font-weight: 400;
  background-color: #f8f8f8;
}

.sidebar-menu .item-sidebar:nth-child(odd) {
  background-color: #ebebeb;
}

.sidebar-text {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar-text-header {
  font-size: 18px;
  margin: 30px 30px 13px 30px;
  line-height: 24px;
}

.sidebar-text-content {
  font-size: 15px;
  margin: 0 30px 26px 30px;
  line-height: 26px;
  font-weight: 400;
}
/* --------------------------sidebar end--------------------------- */

/* --------------------------content--------------------------- */
.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.items-list-title {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  height: 50px;
  margin-bottom: 20px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  column-gap: 30px;
  text-align: center;
  margin-bottom: 23px;
}

.items-list a {
  text-decoration: none;
}

.item-description {
  margin: 15px 0 23px 0;
  color: #000000;
}

.item-picture {
  height: 120px;
  width: 120px;
}
.items-list div {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.th1 {
  width: 84px;
}

.callback-form {
  height: 200px;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.callback-title {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  margin-top: 32px;
}

.callback-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 730px;
  margin-top: 24px;
  border-radius: 3px;
}

.callback-input {
  width: 200px;
  height: 44px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(199, 199, 199);
  padding-left: 16px;
}

.callback-input-submit {
  width: 270px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  background-color: #feb900;
  color: #ffffff;
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.callback-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 19px;
  align-items: center;
  width: 730px;
}

.callback-checkbox-container p {
  margin: 0;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #bcbcbc;
  margin: 0 10px 0 0;
}

.checkbox-text {
  font-size: 14px;
  color: rgba(155, 155, 155, 1);
}

.checkbox-reference {
  font-size: 14px;
  color: rgba(24, 124, 242, 1);
  margin-left: 5px;
}

.content-text {
  margin: 32px 0 26px 0;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}

.accordion-content {
  padding: 0;
  display: none;
  overflow: hidden;
}

.accordion-title {
  padding: 15px;
  color: black;
  cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active {
  background-color: #dadada;
}

.accordion {
  background-color: #f8f8f8;
}
.accordion .accordion-item:nth-child(odd) {
  background-color: #ebebeb;
}

.chevron {
  height: 10px;
  width: 18px;
  transform: none;
}

/* Table start */

.price-list-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 3px;
}

.price-list-table thead {
  background-color: #3aa900;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #f8f8f8;
}

.price-list-table tbody tr {
  height: 50px;
  font-size: 14px;
  font-weight: 400;
}

.price-list-table tbody tr:nth-child(even) {
  background-color: #ebebeb;
}

.price-list-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

/* Table end */
